<template>
    <v-card
        class="mx-auto"
        max-width="400">
        <v-toolbar>
            <v-card-title v-text="title">
            </v-card-title>
        </v-toolbar>
        <v-card-text>
        <v-form>
        <v-text-field
            v-model="reservationId"
            :error-messages="reservationIdErrors"
            label="ID rezervace"
            required
            @input="$v.reservationId.$touch()"
            @blur="$v.reservationId.$touch()"
        ></v-text-field>
            <v-alert v-if="showError"
                type="error"
            >
                Rezervace s tímto ID neexistuje. Zadali jste správné ID?
            </v-alert>
            <v-card-actions class="justify-center">
                <v-btn @click="deleteReservation">
                    Smazat rezervaci
                </v-btn>
            </v-card-actions>
        </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric, maxValue } from 'vuelidate/lib/validators'

export default {
    emits: ['change-responseStatus'],
    mixins: [validationMixin],

    validations: {
        reservationId: {required, numeric, maxValue: maxValue(2147483647)}
    },

    data: () => ({
        title: 'Pro smazání zadejte ID rezervace',
        reservationId: '',
        showError: false
    }),
    methods: {
        async deleteReservation() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                const responseStatus = await this.$store.dispatch("reservation/deleteReservation", {
                    reservationId: this.reservationId
                });
                if (responseStatus === 404) {
                    this.showError = true;
                    this.$v.$reset();
                    this.reservationId = '';
                }
                else {
                    const emitValue = {
                        responseStatus: responseStatus,
                    }
                    this.$emit('change-responseStatus', emitValue);
                }
            }
        }
    },
    computed: {
        reservationIdErrors () {
            const errors = []
            if (!this.$v.reservationId.$dirty) return errors
            !this.$v.reservationId.required && errors.push('Zadejte prosím ID vaší rezervace')
            !this.$v.reservationId.numeric && errors.push('ID vaší rezervace musí být číslo')
            !this.$v.reservationId.maxValue && errors.push('Neplatné ID')
            return errors
        }
    }
}
</script>
