<template>
    <v-card
        class="mx-auto"
        max-width="600"
    >
        <v-toolbar>
            <v-card-title v-text="message">
            </v-card-title>
        </v-toolbar>
    </v-card>
</template>

<script>
export default {
    props: {
        status: ''
    },
    data: () => ({
    }),
    computed: {
        message () {
            let temp;
            switch (this.status) {
                case 200:
                    temp =  "Rezervace byla úspěšně smazána";
                    this.showDetails = true;
                    break;
                default:
                    temp = "Naskytla se neočekávaná chyba";
            }
            return temp;
        }
    }
}
</script>
