<template>
    <v-container>
        <v-row v-if="!loading">
            <v-select
                v-model="filter.speciality"
                :items="specialities"
                item-text="name"
                return-object
                dense
                outlined
                hide-details
                class="ma-2"
                label="Odbornost"
            ></v-select>
            <v-select
                v-model="filter.doctor"
                :items="doctors"
                item-text="fullName"
                return-object
                dense
                outlined
                hide-details
                class="ma-2"
                label="Doktor"
            ></v-select>
            <v-select
                v-model="filter.typeOfVisit"
                :items="visits"
                item-text="name"
                return-object
                dense
                outlined
                hide-details
                class="ma-2"
                label="Typ vyšetření"
            ></v-select>
        </v-row>
        <v-row justify="center">
            <v-btn
                class="ma-8"
                @click="setFilter"
            >
                Zobrazit volné termíny
            </v-btn>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        emits: ['change-filter', 'change-input'],
        data() {
            return {
                loading: true,
                filter: {
                    speciality: null,
                    doctor: null,
                    typeOfVisit: null
                }
            }
        },
        async mounted() {
            await this.$store.dispatch("specialities/loadSpecialities");
            await this.$store.dispatch("doctors/loadDoctors");
            await this.$store.dispatch("visits/loadVisits");
            this.loading = false;

        },
        computed: {
            specialities() {
                const specialities = this.$store.getters["specialities/specialities"];
                this.filter.speciality = specialities[0];
                return specialities;
            },
            doctors () {
                const doctors = this.$store.getters["doctors/doctors"];
                const filteredDoctors = doctors.filter(doctor => {
                    return doctor.specialityIds.includes(this.filter.speciality.id);
                });
                this.filter.doctor = filteredDoctors[0];
                return filteredDoctors;
            },
            visits () {
                const visits = this.$store.getters["visits/visits"];
                const filteredVisits = visits.filter(visit => {
                    return visit.specialityId === this.filter.speciality.id && visit.doctorId === this.filter.doctor.id;
                });
                this.filter.typeOfVisit = filteredVisits[0];
                return filteredVisits;
            }
        },
        watch: {
            filter: {
                handler() {
                    this.$emit('change-input');
                },
                deep: true
            }
        },
        methods: {
            async setFilter(){
                this.$emit('change-filter', this.filter);
            }
        }
    }
</script>
