<template>
    <div>
        <v-row justify="center">
            <v-btn
                x-large
                icon
                class="ma-2"
                @click="prev"
            >
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-toolbar-title class="ma-5" v-if="this.$refs.calendar !== undefined">
                {{this.$refs.calendar.title}}
            </v-toolbar-title>
            <v-toolbar v-else>
                {{text}}
            </v-toolbar>
            <v-btn
                x-large
                icon
                class="ma-2"
                @click="next"
            >
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </v-row>
        <v-row>
            <v-col>
                <v-sheet height="400">
                    <v-calendar
                        v-model = "model"
                        ref="calendar"
                        event-overlap-threshold="20"
                        :weekdays="weekdays"
                        :type="type"
                        :events="events"
                        @click:event="createNewReservation"
                    ></v-calendar>
                </v-sheet>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    props: {
        events: [],
        selectedFilter: {}
    },
    data: () => ({
        text:"",
        model: '',
        type: "week",
        weekdays: [6, 0, 1, 2, 3, 4, 5]
    }),
     async mounted () {
         this.$refs.calendar.scrollToTime('08:00');
         this.text = this.$refs.calendar.title;

    },
    methods: {
        createNewReservation(event){
            this.$router.push('/createReservation/' + this.selectedFilter.typeOfVisit.id + '/' + event.event.id);
        },
        prev () {
            this.$refs.calendar.prev()
            this.$refs.calendar.scrollToTime('08:00');
        },
        next () {
            this.$refs.calendar.next()
            this.$refs.calendar.scrollToTime('08:00');
        }
    }

}
</script>

<style scoped>

</style>
