<template>
    <v-card
        class="mx-auto"
        max-width="300"
    >
        <v-toolbar>
            <v-card-title class="mx-auto" v-text="title">
            </v-card-title>
        </v-toolbar>
        <v-card-text>
            <form>
                <v-text-field
                    v-model="login.username"
                    :error-messages="usernameErrors"
                    label="Přihlašovací jméno"
                    required
                    @input="$v.login.username.$touch()"
                    @blur="$v.login.username.$touch()"
                ></v-text-field>
                <v-text-field
                    v-model="login.password"
                    :error-messages="passwordErrors"
                    label="Heslo"
                    required
                    @input="$v.login.password.$touch()"
                    @blur="$v.login.password.$touch()"
                    type="password"
                ></v-text-field>
                <v-alert v-if="errorOccurred" type="error" v-text="errorMessage">
                </v-alert>
                <v-card-actions>
                    <v-btn
                        class="mr-4"
                        width="250"
                        @click="submit"

                    >
                        Přihlásit
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card-text>
    </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength } from 'vuelidate/lib/validators'

export default {
    mixins: [validationMixin],

    validations: {
        login: {
            username: {required, maxLength: maxLength(255)},
            password: {required, maxLength: maxLength(255)}
        }
    },
    data: () => ({
        title: "Přihlášení lékaře",
        errorMessage: "Neplatné uživatelské jméno nebo heslo",
        errorOccurred:  false,
        login: {
            username: "",
            password: ""
        }
    }),
    methods: {
        async submit () {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                try {
                    await this.$store.dispatch('doctors/authenticate', {login: this.login});
                    await this.$router.push('/doctorIndex');
                } catch (error) {
                    this.login.username = "";
                    this.login.password = "";
                    this.$v.$reset();
                    this.errorOccurred = true;
                }
            }
        }
    },
    computed: {
        usernameErrors () {
            const errors = []
            if (!this.$v.login.username.$dirty) return errors
            !this.$v.login.username.required && errors.push('Přihlašovací jméno je povinný údaj')
            !this.$v.login.username.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.login.password.$dirty) return errors
            !this.$v.login.password.required && errors.push('Heslo je povinný údaj')
            !this.$v.login.password.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        }
    }
}
</script>
