<template>
    <div>
        <v-dialog
        v-model="dialog"
        max-width="400"
        >
            <ReservationDialog :reservation-id="reservationId" @change-close="dialog = false"/>
        </v-dialog>
        <v-row justify="center" class="ma-4">
            <v-select
                v-model="speciality"
                :items="specialities"
                item-text="name"
                return-object
                dense
                outlined
                hide-details
                class="ma-2"
                label="Specializace"
            ></v-select>
        </v-row>
        <v-row justify="center" class="ma-4">
            <v-select
                v-model="type"
                :items="types"
                item-text="name"
                return-object
                dense
                outlined
                hide-details
                class="ma-2"
                label="Typ kalendáře"
            ></v-select>
        </v-row>
        <v-row justify="center">
            <v-btn
                x-large
                icon
                class="ma-2"
                @click="prev"
            >
                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-toolbar-title class="ma-5" v-if="this.$refs.calendar !== undefined">
                {{this.$refs.calendar.title}}
            </v-toolbar-title>
            <v-toolbar v-else>
                {{text}}
            </v-toolbar>
            <v-btn
                x-large
                icon
                class="ma-2"
                @click="next"
            >
                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </v-row>
        <v-row>
            <v-col>
                <v-sheet height="400">
                    <v-calendar
                        v-model = "model"
                        ref="calendar"
                        event-overlap-threshold="20"
                        :weekdays="weekdays"
                        :type="type.value"
                        :events="events"
                        @click:event="showReservationDetails"
                    ></v-calendar>
                </v-sheet>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import ReservationDialog from "./ReservationDialog";
export default {
    components: {
        ReservationDialog
    },
    data: () => ({
        dialog: false,
        loading: true,
        text: "",
        model: '',
        type: {
            name: 'Týdenní',
            value: 'week'
        },
        types: [{
            name: 'Týdenní',
            value: 'week'
        }, {
            name: 'Denní',
            value: 'day'
        }],
        weekdays: [6, 0, 1, 2, 3, 4, 5],
        speciality: {
            name: 'Všechny'
        },
        specialities: [],
        reservations: [],
        reservationId: null
    }),
    async mounted () {
        this.$refs.calendar.scrollToTime('08:00');
        this.text = this.$refs.calendar.title;
        await this.$store.dispatch('specialities/loadSpecialities');
        const allSpecialities = this.$store.getters["specialities/specialities"];
        this.specialities = allSpecialities.filter(speciality => {
            return this.$store._modules.root.state.doctors.loggedDoctor.doctor.specialityIds.includes(speciality.id);
        });
        this.specialities.push(this.speciality);
        await this.$store.dispatch('reservation/loadReservationsForDoctor', {doctorId: this.$store._modules.root.state.doctors.loggedDoctor.doctor.id});
        this.loading=false;
    },
    methods: {
        showReservationDetails(event){
            this.reservationId = event.event.reservationId;
            this.dialog = true;
        },
        prev () {
            this.$refs.calendar.prev()
            this.$refs.calendar.scrollToTime('08:00');
        },
        next () {
            this.$refs.calendar.next()
            this.$refs.calendar.scrollToTime('08:00');
        }
    },
    computed: {
        events() {
            if (!this.loading) {
                if (this.speciality.name !== 'Všechny') {
                    const allReservations = this.$store._modules.root.state.reservation.reservations;
                    if (allReservations !== undefined)
                        this.reservations = allReservations.filter(reservation => {
                            return reservation.specialityId === this.speciality.id;
                        });
                } else {
                    this.reservations = this.$store._modules.root.state.reservation.reservations;
                }
                if (this.reservations !== undefined) {
                    const reply = [];
                    for (const key in this.reservations) {
                        const event = {
                            reservationId: this.reservations[key].reservationId,
                            name: this.reservations[key].patientName + ' ' + this.reservations[key].patientSurname,
                            start: this.reservations[key].date + ' ' + this.reservations[key].startTime,
                            end: this.reservations[key].date + ' ' + this.reservations[key].endTime
                        };
                        reply.push(event);
                    }
                    return reply;
                } else return [];
            }
        }
    }

}
</script>


<style scoped>

</style>
