<template>
    <v-card>
        <v-card-title class="text-h5 grey lighten-2">
            Detail rezervace
        </v-card-title>

        <v-card-text v-if="!this.loading">
            <b>ID rezervace: {{this.reservationId}}</b><br><br>
            <b>Detaily rezervace:</b><br>
            Termín: {{this.dateDisplay}} od {{this.reservation.startTime}} do {{this.reservation.endTime}}<br>
            Obor: {{this.specialityDisplay}}<br>
            Důvod návštěvy: {{this.typeOfVisitDisplay}}<br><br>
            <b>Osobní údaje pacienta:</b><br>
            Jméno: {{reservation.patientName}} {{reservation.patientSurname}}<br>
            Email: {{reservation.email}}<br>
            Telefonní číslo: {{reservation.phone}}<br>
            Pojišťovna: {{this.insuranceCompanyDisplay}}<br>
            Poznámka pro lékaře: {{this.reservation.note}}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                width="300"
                @click="closeDialog"
            >
                Zavřít
            </v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    emits: ['change-close'],
    name: "ReservationDialog",
    props: {
        reservationId: null
    },
    data:() => ({
        loading: true,
        reservation: {}
    }),
    methods: {
        closeDialog() {
            this.$emit('change-close');
        }
    },
    computed: {
        dateDisplay() {
          if (!this.loading) {
              const dateArr = this.reservation.date.split('-');
              if (dateArr[2].charAt(0) === 0)
                  dateArr[2] = dateArr[2].charAt(1);
              if (dateArr[1].charAt(0) === 0)
                  dateArr[1] = dateArr[1].charAt(1);
              return dateArr[2] + ". " + dateArr[1] + ". " + dateArr[0];
          }
        },
        specialityDisplay () {
            if (!this.loading) {
                const specialities = this.$store.getters['specialities/specialities'];
                return specialities.filter(speciality => {
                    return speciality.id === this.reservation.specialityId;
                })[0].name;
            }
        },
        typeOfVisitDisplay () {
            if (!this.loading) {
                const typeOfVisits = this.$store.getters['visits/visits'];
                return typeOfVisits.filter(typeOfVisit => {
                    return typeOfVisit.id === this.reservation.typeofvisitId;
                })[0].name;
            }
        },
        insuranceCompanyDisplay () {
            if (!this.loading) {
                const insuranceCompanies = this.$store.getters['insuranceCompanies/insuranceCompanies'];
                return insuranceCompanies.filter(insuranceCompany => {
                    return insuranceCompany.id === this.reservation.insurancecompanyId;
                })[0].display;
            }
        }
    },
    async mounted () {
        this.reservation = this.$store._modules.root.state.reservation.reservations.filter(res => (res.reservationId === this.reservationId))[0];
        console.log(this.reservationId);
        console.log(this.reservation);
        await this.$store.dispatch('specialities/loadSpecialities');
        await this.$store.dispatch('visits/loadVisits');
        await this.$store.dispatch('insuranceCompanies/loadInsuranceCompanies');
        this.loading = false;
    }
}
</script>

<style scoped>

</style>
