<template>
    <v-card
        v-if="!loading"
        class="mx-auto"
        max-width="600"
    >
        <v-toolbar>
            <v-card-title v-text="title">
            </v-card-title>
        </v-toolbar>
        <v-card-text style="color: black; font-size: medium; line-height: 30px">
            Lékař: <b>{{this.filter.doctor.fullName}}</b> <br/>
            Odbornost: <b>{{this.filter.speciality.name}}</b> <br/>
            Termín: <b>{{dateDisplay}}</b> od <b>{{this.interval.startTime}}</b> do <b>{{this.interval.endTime}}.</b><br/>
            Důvod návštěvy: <b>{{this.filter.visit.name}}</b>
        </v-card-text>
        <v-card-text>
        <form v-if="!loading">
            <v-text-field
                v-model="newReservation.patientName"
                :error-messages="nameErrors"
                label="Jméno"
                required
                @input="$v.newReservation.patientName.$touch()"
                @blur="$v.newReservation.patientName.$touch()"
            ></v-text-field>
            <v-text-field
                v-model="newReservation.patientSurname"
                :error-messages="surnameErrors"
                label="Příjmení"
                required
                @input="$v.newReservation.patientSurname.$touch()"
                @blur="$v.newReservation.patientSurname.$touch()"
            ></v-text-field>
            <v-text-field
                v-model="newReservation.email"
                :error-messages="emailErrors"
                label="E-mail"
                required
                @input="$v.newReservation.email.$touch()"
                @blur="$v.newReservation.email.$touch()"
            ></v-text-field>
            <v-text-field
                v-model="newReservation.phone"
                :error-messages="phoneErrors"
                label="Telefonní číslo"
                required
                @input="$v.newReservation.phone.$touch()"
                @blur="$v.newReservation.phone.$touch()"
            ></v-text-field>
            <v-select
                v-model="selectedInsurancecompany"
                :items="insuranceCompanies"
                :error-messages="insuranceCompanyErrors"
                item-text="display"
                return-object
                label="Vyberte pojišťovnu"
                required
                @change="$v.selectedInsurancecompany.$touch()"
                @blur="$v.selectedInsurancecompany.$touch()"
            ></v-select>
            <v-textarea
                v-model="newReservation.note"
                :error-messages="noteErrors"
                label="Poznámka pro lékaře"
                suffix="(nepovinné)"
                @input="$v.newReservation.note.$touch()"
                @blur="$v.newReservation.note.$touch()"
            ></v-textarea>

            <v-btn
                class="mr-4"
                @click="submit"
            >
                Vytvořit
            </v-btn>
            <v-btn :to="'/'">
                Zpět
            </v-btn>
        </form>
        </v-card-text>
        </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, maxLength } from 'vuelidate/lib/validators'

export default {
    emits: ['change-reservationCreated', 'change-409'],
    mixins: [validationMixin],

    validations: {
        selectedInsurancecompany: {required},
        newReservation: {
            patientName: {required, maxLength: maxLength(255)},
            patientSurname: {required, maxLength: maxLength(255)},
            email: {required, email, maxLength: maxLength(255)},
            phone: {required, maxLength: maxLength(20)},
            note: {maxLength: maxLength(255)}
        }
    },
    data: () => ({
        interval: {},
        filter: {},
        title: "Vytvoření nové rezervace",
        loading: true,
        selectedInsurancecompany: null,
        newReservation: {
            id: '',
            typeofvisitId: '',
            patientName: '',
            patientSurname: '',
            email: '',
            phone: '',
            insurancecompanyId: '',
            note: ''
        },
        createdReservation: {}
    }),
    async created () {
        try {
            this.interval = await this.$store.dispatch("intervals/loadSelectedInterval", this.$route.params.intervalId);
            this.filter.speciality = await this.$store.dispatch('specialities/loadSelectedSpeciality', this.interval.specialityId)
            this.filter.doctor = await this.$store.dispatch('doctors/loadSelectedDoctor', this.interval.doctorId);
            this.filter.visit = await this.$store.dispatch('visits/loadSelectedVisit', this.$route.params.visitId);
            await this.$store.dispatch("insuranceCompanies/loadInsuranceCompanies");
            this.loading = false;
        }
        catch (error) {this.resolveError(error);}


    },
    methods: {
        async submit () {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                try {
                    this.newReservation.id = 1;
                    this.newReservation.typeofvisitId = this.filter.visit.id;
                    this.newReservation.insurancecompanyId = this.selectedInsurancecompany.id
                    this.createdReservation = await this.$store.dispatch("reservation/sendReservation", {
                        intervalId: this.interval.id,
                        reservation: this.newReservation
                    });
                    this.interval.dateDisplay = this.dateDisplay;
                    this.interval.doctorFullName = this.filter.doctor.fullName;
                    this.interval.specialityName = this.filter.speciality.name;
                    this.createdReservation.typeofvisitName = this.filter.visit.name;
                    this.createdReservation.insurancecompanyDisplay = this.selectedInsurancecompany.display;
                    this.$emit('change-reservationCreated', {reservation: this.createdReservation, interval: this.interval});
                }
                catch (error) {this.resolveError(error);}
            }
        },
        resolveError(error) {
             if (error.response)
                if (error.response.status === 409)
                    this.$emit('change-409');
                else throw(error);
            else throw(error);
        }
    },
    computed: {
        dateDisplay(){
            const dateArr = this.interval.date.split('-');
            if (dateArr[2].charAt(0) === 0)
                dateArr[2] = dateArr[2].charAt(1);
            if (dateArr[1].charAt(0) === 0)
                dateArr[1] = dateArr[1].charAt(1);
            return dateArr[2] + ". " + dateArr[1] + ". " + dateArr[0];
        },
        insuranceCompanies() {
            return this.$store.getters['insuranceCompanies/insuranceCompanies'];

        },
        nameErrors () {
            const errors = []
            if (!this.$v.newReservation.patientName.$dirty) return errors
            !this.$v.newReservation.patientName.required && errors.push('Jméno je povinný údaj')
            !this.$v.newReservation.patientName.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        surnameErrors () {
            const errors = []
            if (!this.$v.newReservation.patientSurname.$dirty) return errors
            !this.$v.newReservation.patientSurname.required && errors.push('Příjmení je povinný údaj')
            !this.$v.newReservation.patientSurname.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        emailErrors () {
            const errors = []
            if (!this.$v.newReservation.email.$dirty) return errors
            !this.$v.newReservation.email.email && errors.push('Musí se jednat o platný e-mail')
            !this.$v.newReservation.email.required && errors.push('E-mail je povinný údaj')
            !this.$v.newReservation.email.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        },
        phoneErrors () {
            const errors = []
            if (!this.$v.newReservation.phone.$dirty) return errors
            !this.$v.newReservation.phone.required && errors.push('Telefonní číslo je povinný údaj')
            !this.$v.newReservation.phone.maxLength && errors.push('Maximální délka je 20 číslic')
            return errors
        },
        insuranceCompanyErrors () {
            const errors = []
            if (!this.$v.selectedInsurancecompany.$dirty) return errors
            !this.$v.selectedInsurancecompany.required && errors.push('Pojišťovna je povinný údaj')
            return errors
        },
        noteErrors () {
            const errors = []
            if (!this.$v.newReservation.note.$dirty) return errors
            !this.$v.newReservation.note.maxLength && errors.push('Maximální délka je 255 znaků')
            return errors
        }
    }
}
</script>
