<template>
    <v-card
        class="mx-auto"
        max-width="600"
    >
        <v-toolbar>
            <v-card-title v-text="message">
            </v-card-title>
        </v-toolbar>
        <v-card-text v-if="showDetails" style="color: black; font-size: medium; line-height: 30px">
            <b>ID rezervace: {{this.reservation.id}}</b><br>
            Toto ID budete potřebovat v případě, že se rozhodnete rezervaci zrušit<br><br>
            <b>Detaily rezervace:</b><br>
            Lékař: {{this.interval.doctorFullName}}<br>
            Odbornost: {{this.interval.specialityName}}<br>
            Termín: {{this.interval.dateDisplay}}<br>
            Důvod návštěvy: {{this.reservation.typeofvisitName}}<br><br>
            <b>Vaše osobní údaje:</b><br>
            Jméno: {{this.reservation.patientName}} {{this.reservation.patientSurname}}<br>
            Email: {{this.reservation.email}}<br>
            Telefonní číslo: {{this.reservation.phone}}<br>
            Pojišťovna: {{this.reservation.insurancecompanyDisplay}}<br>
            Poznámka pro lékaře: {{this.reservation.note}}
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props: {
        received409: false,
        interval: {},
        reservation: {}
    },
    data: () => ({
        showDetails: false,
        insuranceDisplay: ''
    }),
    computed: {
        message () {
            if (this.received409) {
                return "Vybraný termín je již zarezervován";
            }
            else {
                this.showDetails = true;
                return "Rezervace byla úspěšně vytvořena";
            }
        }
    }
}
</script>
