<template>
    <div>
        <v-dialog
            v-model="dialog"
            max-width="400"
        >
            <WorkingHoursDialog :title="dialogTitle" :message="dialogMessage" @change-close="dialog = false"/>
        </v-dialog>
        <v-card
            class="mx-auto"
            max-width="500"
        >
            <v-toolbar>
                <v-card-title v-text="message">
                </v-card-title>
            </v-toolbar>
            <v-row justify="center" class="ma-4">
                <v-select
                    v-model="speciality"
                    :items="specialities"
                    item-text="name"
                    return-object
                    dense
                    outlined
                    hide-details
                    class="ma-2"
                    label="Specializace"
                    @change="filterWorkingHours"
                ></v-select>
            </v-row>
            <v-card-text v-if="!this.loading" style="color: black; font-size: medium; line-height: 30px">

                <b>Pondělí: </b> {{this.monday}}<br>
                <b>Úterý: </b> {{this.tuesday}}<br>
                <b>Středa: </b> {{this.wednesday}}<br>
                <b>Čvrtek: </b> {{this.thursday}}<br>
                <b>Pátek: </b> {{this.friday}}<br>
                <b>Sobota: </b> {{this.saturday}}<br>
                <b>Neděle: </b> {{this.sunday}}<br><br>
                <v-divider/>
                <br>
                Pro úpravu pracovní doby vyberte den a zadejte časový interval.
            </v-card-text>
            <v-card-actions>
                <v-select
                    v-model="day"
                    :items="days"
                    item-text="name"
                    return-object
                    dense
                    outlined
                    class="ma-2"
                    label="Den"
                ></v-select>
                <v-select
                    v-model="interval.startTime"
                    :items="startTimes"
                    :error-messages="startTimeErrors"
                    dense
                    outlined
                    class="ma-2"
                    label="Od"
                    @change="$v.interval.startTime.$touch()"
                    @blur="$v.interval.startTime.$touch()"
                ></v-select>
                <v-select
                    v-model="interval.endTime"
                    :items="endTimes"
                    :error-messages="endTimeErrors"
                    dense
                    outlined
                    class="ma-2"
                    label="Do"
                    @change="$v.interval.endTime.$touch()"
                    @blur="$v.interval.endTime.$touch()"
                ></v-select>
            </v-card-actions>
            <v-divider/>
            <v-card-actions>
                <v-spacer/>
                <v-btn
                    width="150"
                    @click="addWorkingHours">
                    Přidat
                </v-btn>
                <v-spacer/>
                <v-btn
                    width="150"
                    @click="deleteWorkingHours">
                    Odebrat
                </v-btn>
                <v-spacer/>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import WorkingHoursDialog from "./WorkingHoursDialog";
export default {
    components: {
        WorkingHoursDialog
    },
    mixins: [validationMixin],

    validations: {
        interval: {
            startTime: {required},
            endTime: {required}
        }
    },
    name: "WorkingHoursCard",
    data: () => ({
        dialog: false,
        dialogMessage: '',
        dialogTitle: '',
        loading: true,
        message: 'Vaše ordinační hodiny',
        speciality: null,
        specialities: [],
        interval: {
            startTime: '',
            endTime: ''
        },
        monday: '',
        tuesday: '',
        wednesday: '',
        thursday: '',
        friday: '',
        saturday: '',
        sunday: '',
        day: {
            name: 'Pondělí',
            value: 'Monday'
        },
        days: [{
            name: 'Pondělí',
            value: 'Monday'
        },{
            name: 'Úterý',
            value: 'Tuesday'
        },{
            name: 'Středa',
            value: 'Wednesday'
        },{
            name: 'Čtvrtek',
            value: 'Thursday'
        },{
            name: 'Pátek',
            value: 'Friday'
        },{
            name: 'Sobota',
            value: 'Saturday'
        },{
            name: 'Neděle',
            value: 'Sunday'
        }],
        startTimes: [],

    }),
    methods: {
        generateStartTimes () {
          for (let i = 0; i < 24; i++){
              if (i<10){
                  this.startTimes.push('0'+i+':'+'00');
                  this.startTimes.push('0'+i+':'+'30');
              }
              else {
                  this.startTimes.push(i+':'+'00');
                  this.startTimes.push(i+':'+'30');
              }
          }
        },
        nullWorkingHours() {
            this.monday = '';
            this.tuesday = '';
            this.wednesday = '';
            this.thursday = '';
            this.friday = '';
            this.saturday = '';
            this.sunday = '';

        },
        async filterWorkingHours () {
            await this.$store.dispatch('workingHours/LoadWorkingHoursForDoctorSpeciality', {
                doctorId: this.$store._modules.root.state.doctors.loggedDoctor.doctor.id,
                specialityId: this.speciality.id
            })
            this.nullWorkingHours();
            const allWorkingHours =  this.$store._modules.root.state.workingHours.workingHours;
            for (const key in allWorkingHours) {
                const entry = allWorkingHours[key];
                entry.display = entry.startTime.slice(0,5) + ' - ' + entry.endTime.slice(0,5) + ', ';
                switch (entry.day) {
                    case 'Monday':
                        this.monday = this.monday + entry.display;
                        break;
                    case 'Tuesday':
                        this.tuesday = this.tuesday + entry.display;
                        break;
                    case 'Wednesday':
                        this.wednesday = this.wednesday + entry.display;
                        break;
                    case 'Thursday':
                        this.thursday = this.thursday + entry.display;
                        break;
                    case 'Friday':
                        this.friday= this.friday + entry.display;
                        break;
                    case 'Saturday':
                        this.saturday = this.saturday + entry.display;
                        break;
                    case 'Sunday':
                        this.sunday = this.sunday + entry.display;
                        break;
                    default:
                }
            }
        },
        async addWorkingHours () {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                const payload = {
                    interval: this.interval,
                    day: this.day.value,
                    specialityId: this.speciality.id
                };
                try {
                    await this.$store.dispatch('workingHours/SendWorkingHours', payload);
                    this.dialogTitle = 'Vytvořen';
                    this.dialogMessage = 'Vámi zadaný interval se byl úspěšně vytvořen.'
                    this.dialog = true;
                    this.loading = true;
                    await this.$store.dispatch('workingHours/LoadWorkingHoursForDoctorSpeciality', {doctorId: this.$store._modules.root.state.doctors.loggedDoctor.doctor.id, specialityId: this.speciality.id});
                    await this.filterWorkingHours();
                    this.loading= false;
                    this.dialog = true;
                }
                catch(error) {
                    if (error.response) {
                        if (error.response.status === 409) {
                            this.dialogTitle = 'Chyba';
                            this.dialogMessage = 'Vámi zadaný interval se překrývá s již existujícím. Vymažte nejprve existující a pak až vytvořte nový.'
                            this.dialog = true;
                        }
                        else throw(error);
                    }
                    else throw(error);
                }
            }
        },
        async deleteWorkingHours () {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                const selectedWorkingHours = this.$store._modules.root.state.workingHours.workingHours.filter(workingHours => {
                    return workingHours.day === this.day.value && workingHours.startTime === this.interval.startTime + ':00' && workingHours.endTime === this.interval.endTime + ':00'})[0];
                if (selectedWorkingHours === undefined) {
                    this.dialogTitle = 'Chyba';
                    this.dialogMessage = 'Vámi zadaný interval neexistuje.'
                    this.dialog = true;
                }
                else {
                    try {
                        await this.$store.dispatch('workingHours/DeleteWorkingHours', {id: selectedWorkingHours.id});
                        this.dialogTitle = 'Smazán';
                        this.dialogMessage = 'Vámi zadaný interval se byl úspěšně smazán.'
                        this.dialog = true;
                        this.loading = true;
                        await this.$store.dispatch('workingHours/LoadWorkingHoursForDoctorSpeciality', {doctorId: this.$store._modules.root.state.doctors.loggedDoctor.doctor.id, specialityId: this.speciality.id});
                        await this.filterWorkingHours();
                        this.loading= false;
                        this.dialog = true;
                    } catch (error) {
                        if (error.response) {
                            if (error.response.status === 404) {
                                this.dialogTitle = 'Chyba';
                                this.dialogMessage = 'Vámi zadaný interval neexistuje.'
                                this.dialog = true;
                            }
                        }
                        else throw(error);
                    }
                }
            }
        }
    },
    computed: {
        endTimes () {
            if (this.interval.startTime !== null) {
                if (this.interval.endTime <= this.interval.startTime)
                    this.interval.endTime = '';
                const startTime = this.interval.startTime.split(':').map(Number);
                const result = [];
                if (startTime[1] === 0) {
                    if (startTime[0] < 10) {
                        result.push('0' + startTime[0] + ':' + '30');
                    }
                    else {
                        result.push(startTime[0] + ':' + '30');
                    }
                }
                for (let i = startTime[0] + 1; i < 24; i++) {
                    if (i<10){
                        result.push('0'+i+':'+'00');
                        result.push('0'+i+':'+'30');
                    }
                    else {
                        result.push(i+':'+'00');
                        result.push(i+':'+'30');
                    }
                }
                return result;
            }
        },
        startTimeErrors () {
            const errors = []
            if (!this.$v.interval.startTime.$dirty) return errors
            !this.$v.interval.startTime.required && errors.push('Zadejte začátek pracovní doby')
            return errors
        },
        endTimeErrors () {
            const errors = []
            if (!this.$v.interval.endTime.$dirty) return errors
            !this.$v.interval.endTime.required && errors.push('Zadejte konec pracovní doby')
            return errors

        }
    },
    async mounted() {
        if (this.$store._modules.root.state.doctors.loggedDoctor == null) {
            await this.$router.push('/loginPage');
        }
        else {
            await this.$store.dispatch('specialities/loadSpecialities');
            const allSpecialities = this.$store.getters["specialities/specialities"];
            this.specialities = allSpecialities.filter(speciality => {
                return this.$store._modules.root.state.doctors.loggedDoctor.doctor.specialityIds.includes(speciality.id);
            });
            this.speciality = this.specialities[0];
            await this.filterWorkingHours();
            this.generateStartTimes();
            this.loading = false;
        }
    }
}
</script>

<style scoped>

</style>
