<template>
    <v-card>
        <v-card-title class="text-h5 grey lighten-2">
            {{this.title}}
        </v-card-title>

        <v-card-text v-if="message !== ''">
            <br>
            {{this.message}}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                width="300"
                @click="closeDialog"
            >
                Zavřít
            </v-btn>
            <v-spacer></v-spacer>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: "WorkingHoursDialog",
    emits: ['change-close'],
    props: {
        title: '',
        message: ''
    },
    methods: {
        closeDialog() {
            this.$emit('change-close');
        }
    }
}
</script>

<style scoped>

</style>
