<template>
    <v-app dark>
        <v-app-bar
            :clipped-left="clipped"
            fixed
            app
        >
                <v-btn to="/" >
                    <v-icon left>
                        mdi-plus
                    </v-icon>
                    Vytvořit novou rezervaci
                </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/deleteReservation">
                <v-icon left>
                    mdi-minus
                </v-icon>
                Smazat rezervaci
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn to="/loginPage">
                <v-icon left>
                    mdi-account
                </v-icon>
                Pokračovat jako doktor
            </v-btn>
        </v-app-bar>
        <v-main>
            <v-container>
                <Nuxt/>
            </v-container>
        </v-main>
        <v-footer
            :absolute="!fixed"
            app
        >
            <span>&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    name: 'defaultLayout',
    data() {
        return {
            clipped: true,
            fixed: false
        }
    }
}
</script>
