<template>
    <v-app dark>
        <v-app-bar
            :clipped-left="clipped"
            fixed
            app
        >
            <v-btn to="/doctorIndex" >
                <v-icon left>
                    mdi-home
                </v-icon>
               Rezervace
            </v-btn>
            &#160;&#160;&#160;
            <v-btn to="/workingHours" >
                <v-icon left>
                    mdi-table-account
                </v-icon>
                Ordinační hodiny
            </v-btn>
            &#160;&#160;&#160;
            <v-spacer></v-spacer>
            <div v-if="this.$store._modules.root.state.doctors.loggedDoctor != null">
                {{this.$store._modules.root.state.doctors.loggedDoctor.doctor.fullName}} &#160;
                <v-btn @click="logout">
                    <v-icon left>
                        mdi-account
                    </v-icon>
                    Odhlásit se
                </v-btn>
            </div>
        </v-app-bar>
        <v-main>
            <v-container>
                <Nuxt/>
            </v-container>
        </v-main>
        <v-footer
            :absolute="!fixed"
            app
        >
            <span>&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    name: "doctorLayout",
    data() {
        return {
            clipped: true,
            fixed: false
        }
    },
    methods: {
        logout(){
            this.$store._modules.root.state.doctors.loggedDoctor = null;
            this.$nuxt.setLayout('default');
            this.$router.push('/loginPage');
        }
    }
}
</script>

<style scoped>

</style>
