<template>
    <v-container>
        <v-row>
            <v-col>
                <ReservationForm v-if="!submitted" @change-reservationCreated="showReservation" @change-409="error"></ReservationForm>
                <ReservationResult v-else :received409="received409" :interval="interval" :reservation="createdReservation"></ReservationResult>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ReservationForm from "../../../components/ReservationForm";
    import ReservationResult from "../../../components/ReservationResult"
    export default{
        components: {
            ReservationForm,
            ReservationResult
        },
        data: () => ({
            submitted: false,
            received409: false,
            interval: {},
            createdReservation: {}
        }),
        methods: {
            error() {
                this.received409 = true;
                this.submitted = true;
            },
            showReservation(emitValue) {
                this.createdReservation = emitValue.reservation;
                this.interval = emitValue.interval;
                this.submitted = true;
            }
        }
    }
</script>
