<template>
    <v-container>
        <v-row>
            <v-col>
                <DeleteReservationForm v-if="!responseStatusRecieved" @change-responseStatus="updateResponseStatus"/>
                <DeleteReservationResult v-else :status="responseStatus"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import DeleteReservationForm from "../components/DeleteReservationForm";
import DeleteReservationResult from "../components/DeleteReservationResult";
export default {
    name: "deleteReservation",
    components: {
        DeleteReservationForm,
        DeleteReservationResult
    },
    data: () => ({
        responseStatusRecieved: false,
        responseStatus: ''
    }),
    methods: {
        updateResponseStatus(emitValue) {
            this.responseStatus = emitValue.responseStatus;
            this.responseStatusRecieved = true;
        }
    }
}
</script>

<style scoped>

</style>
