<template>
    <ReservationCalendar v-if="this.$store._modules.root.state.doctors.loggedDoctor != null"/>
</template>

<script>
import ReservationCalendar from "../components/ReservationCalendar";
export default {
    components: {
        ReservationCalendar
    },
    layout: 'doctorLayout',
    beforeCreate () {
        if (this.$store._modules.root.state.doctors.loggedDoctor == null)
            this.$router.push('/loginPage');
    }
}

</script>
