<template>
    <v-container>
        <v-row>
            <v-col>
                <IntervalsFilter @change-filter="loadIntervals" @change-input="hideCalendar"></IntervalsFilter>
            </v-col>
        </v-row>
        <v-row v-if="showCalendar">
            <v-col>
                <IntervalCalendar :events="events" :selectedFilter="selectedFilter"></IntervalCalendar>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import IntervalCalendar from "../components/IntervalCalendar";
import IntervalsFilter from "../components/IntervalsFilter";

export default {
    components: {
        IntervalCalendar,
        IntervalsFilter
    },
    data() {
        return {
            showCalendar: false,
            selectedFilter: {},
            intervals: {}
        }
    },
    methods: {
        async loadIntervals (selectedFilter) {
            this.selectedFilter = selectedFilter;
            this.showCalendar = false;
            await this.$store.dispatch("intervals/loadFreeIntervalsForDoctorSpeciality", {
                doctorId: this.selectedFilter.doctor.id,
                specialityId: this.selectedFilter.speciality.id
            });
            this.intervals = await this.$store.dispatch("intervals/getLoadedFreeIntervals");
            this.showCalendar = true;
        },
        hideCalendar () {
            this.showCalendar = false;
        }
    },
    computed: {
        events () {
            if(this.showCalendar) {
                //const intervals = this.$store.getters["intervals/intervals"];
                //const intervals = this.$store._modules.root.state.intervals.intervals;
                const events = [];
                for (const key in this.intervals) {
                    const event = {
                        id: this.intervals[key].id,
                        name: this.intervals[key].startTime + ' - ' + this.intervals[key].endTime,
                        start: this.intervals[key].date + ' ' + this.intervals[key].startTime,
                        end: this.intervals[key].date + ' ' + this.intervals[key].endTime
                    };
                    events.push(event);
                }
                console.log("computed data");
                console.log(this.intervals);
                console.log("computed mapped data");
                console.log(events);
                return events;
            }
        }
    }
}
</script>
