<template>
    <loginForm/>
</template>

<script>
import loginForm from "../components/LoginForm";
export default {
    name: "loginPage",
    components: {loginForm},
    beforeCreate() {
        if (this.$store._modules.root.state.doctors.loggedDoctor != null)
            this.$router.push('/doctorIndex');
    }
}
</script>

<style scoped>

</style>
