<template>
    <v-container>
        <v-row>
            <v-col>
                <WorkingHoursCard/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import WorkingHoursCard from "../components/WorkingHoursCard";
export default {
    name: "workingHours",
    components: {
        WorkingHoursCard
    },
    layout: 'doctorLayout',
    data: () => ({})
}
</script>

<style scoped>

</style>
